@import url("https://fonts.googleapis.com/css?family=Noto%20Sans%20Thaana:700|Noto%20Sans%20Thaana:400");

:root[data-theme="light"] {
  --text: #171607;
  --background: #fefefb;
  --primary: #c8c13c;
  --secondary: #e5e29a;
  --accent: #dad662;
}
:root[data-theme="dark"] {
  --text: #f8f7e8;
  --background: #040401;
  --primary: #c3bc37;
  --secondary: #65631a;
  --accent: #9d9925;
}

body {
  font-family: "Noto Sans Thaana";
  font-weight: 400;

  margin: 0;
  padding: 0;
  width: 300px;
  height: 300px;

  color: var(--text);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Sans Thaana";
  font-weight: 700;
  margin: 0;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.container > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
}

.container > main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  background-color: var(--background);
}

.container > main > input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--secondary);
  color: var(--text);
}

.container > main > input:focus {
  outline: none;
  box-shadow: 0 0 0.5rem var(--accent);
}

.container > main > button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--primary);
  color: var(--text);
  width: 100%;
}
